{% extends 'layout.html' %}

{% block title %}
    Página de Contacto
{% endblock %}

{% block content %}

    <h1> Correo Electrónico Contacto </h1>
    <h2> E-mail: {{email}} </h2>

    {% if num%2 == 0 %}

        <h3>El número {{num}} es par</h3>
    {% else %}
        <h3>El número {{num}} es impar</h3>
    {% endif %}

    {% for i in range(1, 7) %}
        <h{{i}}> Título en h{{i}} </h{{i}}>
    {% endfor %}

{% endblock %}