{% extends 'layout.html' %}

{% block title %}
    Página Inicio
{% endblock %}

{% block content %}
    <h2>
        Programando ando...
    </h2>
    <hr>
    <h3>
        <!-- Contenido variable rstDB = {{rstDB}} -->
        <a href="{{url_for('registrar_productos')}}">Click Aquí Para Registrar Productos </a>
    </h3>

    <hr>
    <table border="3">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Categoría</th>
                <th>Precio c/u</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for db in rstDB %}
            <tr>
                <td>{{db[0]}}</td>
                <td>{{db[1]}}</td>
                <td>{{db[2]}}</td>
                <td>{{db[3]}}</td>
                <td>{{db[4]}}</td>
                <td>
                    <form action="{{url_for('editar_productos')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Editar Datos</button>
                    </form>
                </td>
                <td>
                    <form action="{{url_for('confirmar_eliminar_dato')}}" method="POST">
                        <input type="hidden" name="id" value="{{db[0]}}">
                        <button>Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/E8hCddXmySk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PKq_K8EJ3UI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <h3>
        Texto
    </h3>

{% endblock %}
