{% extends 'layout.html' %}

{% block title %}
    Página de Información
{% endblock %}

{% block content %}
    <br>
    <h1>
        Página en HTML
    </h1>
    <br>
    <p>
        HTML (Lenguaje de Marcas de Hipertexto, del inglés HyperText Markup Language) es el componente más básico de la Web. Define el significado y la estructura del contenido web. 
    </p>
    <img class="cImg" src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/slide2image/1632326966/1.jpg" alt="Imagen no disponible">

    {% endblock %}