<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<header>
    <!-- <img src="/static/UIS_MisionTIC.png" alt="Logo UIS_MisionTIC"> -->
    <img src="{{url_for('static', filename='img/UIS_MisionTIC.png')}}" alt="Logo UIS_MisionTIC">
    <h1>
        {% block title %}
            Hola Tripulantes!
        {% endblock %}
    </h1>
    <hr>
    <ul>
        <li>
            <a href="/">Página Inicio</a>
        </li>
        <li>
            
            <!-- <a href="/informacion">Página Información</a> -->
            <a href="{{url_for('informacion')}}">Página Información</a>
        </li>
        <li>
            <a href="{{url_for('contacto')}}">Página Contacto</a>
        </li>
        <li>
            <a href="{{url_for('saludo')}}">Página de Saludo</a>
        </li>
    </ul>
    <hr>
</header>
<body>
    {% block content%}

    {% endblock %}
</body>
</html>

{#

{% extends 'layout.html' %}

{% block title %}
    
{% endblock %}

{% block content %}

{% endblock %}

#}