{% extends 'layout.html' %}

{% block title %}
    Hola Tripulantes
{% endblock %}

{% block content %}
    <h2>
        Recordar el próximo sábado la conferencia con el experto internacional
    </h2>

    <img class="cImg" src="https://lms.uis.edu.co/mintic/pluginfile.php/1/theme_essential/slide1image/1632326966/CONFERENCIA-S%C3%81BADO-25-DE-SEPTIMEBRE.jpg" alt="Charla con experto internacional.">

    <h3>
        Texto
    </h3>

{% endblock %}